#time{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 10px;
    
}

/*center buttons div and make it's width*/
#buttons{
    margin: 0 auto;
    width: 50%;
}

/*Well spaced table of times*/
#history{
    margin: 5px auto;
    width: 50%;
    min-width: 300px;
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
}

/*Table cells with 2px vertical padding and 6px horizontal*/
td,th{
    padding: 8px;
    /*float text  ont eh right*/
    text-align: right;
    /* same width for all cols*/
    width: 25%;
}

/*Make buytton cursor click, and float center inside div*/
button{
    padding: 6px;
    cursor: pointer;
    float: center;
    margin: 0 5px;
}

/*Class delete for small red button, invert colours on hover*/
.delete{
    background-color: #f00;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.delete:hover{
    background-color: #000000;
    color: #f00;
}

/*cool  background color for the body*/
body{
    background-color: #f0f0f0;
}
