#time{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 10px;
    
}

/*Well spaced table of times*/
#history{
    margin: 5px auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
}

/*Table cells with 2px vertical padding and 6px horizontal*/
td{
    padding: 5px;
}

/*Make buytton cursor click*/
button{
    padding: 6px;
    cursor: pointer;
}